{% extends "base.html" %}
{% load static %}
{% block title %}
    Haydo's Blog
{% endblock title %}
{% block CSS_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock CSS_files %}
{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/Hadi.jpg" %}"
                 alt="Haydo-The Author Of This Blog"/>
            <h2>Hadi Alimohammadi's Blog</h2>
        </header>
        <p>
            Hi, I am Haydo I love to blog about AI/ML world!
        </p>
    </section>
    <section id="latest-posts">
        <h2>My latest Thoughts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static "blog/images/ai.jpg" %}" alt="Reinforcement Learning"/>
                        <div class="post__content">
                            <h3>Fancy world of RL</h3>
                            <p>
                                Reinforcement learning is a machine learning training method based on rewarding desired behaviors and/or punishing undesired ones. In general, a reinforcement learning agent is able to perceive and interpret its environment, take actions and learn through trial and error.
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love programming, I love to help others, I love to explor new technologies in general!
        </p>
        <p>
            I love to pursue my exploration about Artificial Intelligence at all and I try to become an AI developer!
        </p>
    </section>
{% endblock content %}
